.item {
    
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }

  img{
    width: 250px;
  }
  .flex{
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between;
  }